<!-- Footer -->
<footer class="bg-gray-800 text-white py-8">
  <div class="container mx-auto flex justify-center items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="https://twitter.com/tu_usuario"
          target="_blank"
          class="hover:text-gray-300"
          ><span class="sr-only">Twitter</span><i class="fab fa-twitter"></i></a
        >
      </li>
      <li>
        <a
          href="https://linkedin.com/in/tu_usuario"
          target="_blank"
          class="hover:text-gray-300"
          ><span class="sr-only">LinkedIn</span><i class="fab fa-linkedin"
          ></i></a
        >
      </li>
      <li>
        <a
          href="https://github.com/tu_usuario"
          target="_blank"
          class="hover:text-gray-300"
          ><span class="sr-only">GitHub</span><i class="fab fa-github"></i></a
        >
      </li>
      <!-- Agrega más enlaces a tus redes sociales aquí -->
    </ul>
  </div>
  <div class="container mx-auto text-center mt-4">
    <p>Derechos de autor &copy; 2023. Todos los derechos reservados.</p>
  </div>
</footer>
