<body class="bg-gray-100">

    <header class="bg-purple-800 text-white py-12">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-semibold mb-2">Adso Martin Obregon Gutierrez</h1>
            <p class="text-lg text-gray-300 mb-8">Desarrollador de Software</p>
            <nav>
                <ul class="flex justify-center space-x-8">
                    <li><a href="#" class="hover:text-gray-300">Acerca de mí</a></li>
                    <li><a href="#" class="hover:text-gray-300">Proyectos</a></li>
                    <li><a href="#" class="hover:text-gray-300">Certificaciones</a></li>
                    <li><a href="#" class="hover:text-gray-300">Blog</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container mx-auto py-8">
        <!-- Contenido de la página -->
    </div>