---
import Caratula from "../layouts/Caratula.astro";
---

<Caratula title=" Proyectos">
  <!-- Contenido específico de la página Projects -->
  <main class="container mx-auto py-8">
    <h2 class="text-2xl font-semibold mb-4">Perfil Profesional</h2>
    <p class="text-gray-600 mb-6">
      Soy un estudiante de programación con habilidades tecnológicas avanzadas.
      Mi experiencia abarca diversas plataformas de medios sociales, programas
      de tecnología de oficina y competencias informáticas de alto nivel. Me
      desenvuelvo eficientemente en entornos exigentes y de ritmo rápido,
      siempre buscando brindar a los clientes el más alto nivel de atención. Mi
      pasión radica en el desarrollo de proyectos en el campo de la tecnología,
      lo que me permite mejorar constantemente mis habilidades y contribuir
      positivamente a mi entorno laboral.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Experiencia Laboral</h2>
    <div class="mb-6">
      <h3 class="text-lg font-semibold mb-2">
        Técnico de Planta para EE2E, Arequipa
      </h3>
      <p class="text-gray-600">Junio 2021 – Marzo 2022</p>
      <p>
        Desarrollé el cargo de técnico de producción en la planta de oxígeno de
        la red ESSALUD.
      </p>
    </div>
    <div class="mb-6">
      <h3 class="text-lg font-semibold mb-2">
        Asistente de Control de Formularios para EE2E, Arequipa
      </h3>
      <p class="text-gray-600">Enero 2022 – Marzo 2022</p>
    </div>
    <div class="mb-6">
      <h3 class="text-lg font-semibold mb-2">Asesor de Cobranza en SERVEX</h3>
      <p class="text-gray-600">Mayo 2022 – Enero 2023</p>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Formación</h2>
    <ul class="list-disc ml-6 mb-6">
      <li>Técnico en Redes y Mantenimiento, Cesca Arequipa (6 meses)</li>
      <li>Diseño y Desarrollo de Software, CERTUS Arequipa (5to Ciclo)</li>
      <li>Fundamentos de la Ciencia de la Computación, EDX (12 semanas)</li>
      <li>Ciencia de Datos, IBM – Coursera (6 meses)</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4">Actividades Extra Curriculares</h2>
    <ul class="list-disc ml-6 mb-6">
      <li>
        Microsoft Azure Fundamentals: Certificación Azure AZ-900 para aprender
        sobre Cloud Computing y seguir la ruta de aprendizaje de Microsoft.
      </li>
      <li>
        Estudiante en línea de Nuevas Tecnologías en IT: Enfocado en mejorar mis
        habilidades en microservicios con Docker y en implementar aplicaciones
        utilizando lenguajes como Python, Java y JavaScript. Busco ser versátil
        y capaz de adaptarme a distintos proyectos. Estoy emocionado por seguir
        aprendiendo y creciendo en esta área en constante evolución.
      </li>
    </ul>
  </main>
</Caratula>
