---
import Caratula from "../layouts/Caratula.astro";
---

<Caratula title=" Proyectos">
  <!-- Contenido específico de la página Projects -->
  <main class="container mx-auto py-8">
    <h2 class="text-2xl font-semibold mb-4">Mis Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Tarjeta del proyecto 1 -->
      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">
          Backend de restaurante con Spring Boot
        </h3>
        <p class="text-gray-600 mb-4">Utilizando MongoDB como base de datos.</p>
      </div>
      <!-- Tarjeta del proyecto 2 -->
      <div class="bg-white shadow-md rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">
          Frontend del restaurante con Angular
        </h3>
        <p class="text-gray-600 mb-4">
          Interfaz de usuario para el restaurante.
        </p>
      </div>
      <!-- Agrega más tarjetas para otros proyectos -->
      <!-- ... -->
    </div>
  </main>
</Caratula>
